@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(180deg, #F3F8FF 0%, #C6E3EB 53.5%, #819ABC 100%);
  --background-blue: #E0E7F1;
  --foreground: #171717;
  --container-grey: #EDEEF1;
  --dark-grey: #CDCFD0;
  --button-blue: #74A9F1;
  --button-grey: #EDEEF1;
  --text-grey: #a8a8a8;
  --text-blue: #335C67;
  --icon-grey: #D9D9D9;
  overflow: hidden;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --containerGrey: #EDEEF1;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}